<!doctype html>
<html>

  <head>

    <title>{{ .title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <link href="./css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <script src="./js/bootstrap/bootstrap.bundle.min.js" ></script>

  </head>

  <body class="container">

    {{ template "navbar.html" . }}