<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>OpenUDS Users Session</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="/js/sort_table.js"></script>
    </head>

    <body>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">

          <img src="/images/uds_32.jpeg" alt="" width="32" height="32">
          <a class="navbar-brand" href="/">OpenUDS </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home 🏠</a>
              </li>
              <li class="nav-item">

                <div class="visible"> 
                  <a class="nav-link disabled" aria-disabled="true">Lock🔒</a>
                </div>
                
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Administration
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/actors">Actors 🟢</a></li>
                  <li><a class="dropdown-item" href="/status">Status 🟢</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-sm">
        <table id="myTable" class="table table-bordered border-dark table-hover">
          {{ if . }}
              <tbody>
                <tr class="table-active table-dark ">
                  <th onclick="sortTable(0)">Username</th>
                  <th onclick="sortTable(1)">Status</th>
                  <th onclick="sortTable(2)">Hostname</th>
                  <th onclick="sortTable(3)">Start session</th>
                  <th onclick="sortTable(4)">Stop session</th>
                  <th scope="col">Execute</th>
                </tr>
          {{ else }}
                  <div> List users is empty </div>    
          {{ end }}
                <tr>
          {{range . }}
                  <td>{{.Username}}</td>
                  <td>{{.State}} </td>
                  <td>{{.Hostname}}</td>
                  <td>{{.StartDate}}</td>
                  <td>{{.StopDate}}</td>
                  <td> 
                    <a class="btn btn-danger" href="./status/terminate/{{.SessionID}}" role="button">Terminate</a>
                  </td>
                </tr>
              </tbody>
          {{end}}
        </table>
      </div>
    </body>
</html>